name: CI

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  test:
    name: node-${{ matrix.node-version }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20, 24]
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Install pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install
      - name: Run Jest
        run: pnpm test ${{ matrix.node-version == 24 && '--coverage' || '' }}
      - name: Upload results to Codecov
        if: matrix.node-version == 24
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

  checks:
    name: ${{ matrix.check }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - check: lint
            command: pnpm lint
          - check: type-check
            command: pnpm type-check
          - check: check-exports
            command: pnpm check-exports
          - check: build
            command: pnpm build
          - check: tsgo
            command: npx -y @typescript/native-preview
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Install pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
      - name: Use Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: 24
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install
      - name: Run ${{ matrix.check }}
        run: ${{ matrix.command }}
